div.row.row-offcanvas.row-offcanvas-right(class="{{navActive}}")
	div.col-xs-12.col-sm-9
		p.pull-right.visible-xs
			button.btn.btn-primary.btn-xs(type="button", data-ng-click='toggleNav()') Toggle nav
		div.jumbotron
			h1 Create a character!
			p Make some decisions here to create a character
	div.col-xs-6.col-sm-3.sidebar-offcanvas(id="sidebar", role="navigation")
		div.well.sidebar-nav
			ul.nav
				li sidebar
				li
					a(ng-href="#") Link
hr
footer
	p &copy; RPG Creator 2013