extends layout

block content
	div(ui-view)
	ul.color-guide
		li#yellow1
		li#yellow2
		li#yellow3
		li#yellow4
		li#yellow5
	ul.color-guide
		li#red1
		li#red2
		li#red3
		li#red4
		li#red5
	ul.color-guide
		li#green1
		li#green2
		li#green3
		li#green4
		li#green5


block scripts
	script(data-main="/javascripts/main" src="/bower_components/requirejs/require.js")