extends layout

block content
	div(class="container", ui-view)

block scripts
	script(src="/javascripts/myScript.js")
	script(src="/javascripts/services/index.js")
	script(src="/javascripts/services/SpellsService.js")
	script(src="/javascripts/controllers/index.js")
	script(src="/javascripts/controllers/spells.js")