doctype html
html(class="ng-app")
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="/bower_components/d3/d3.min.js")
	body
		h1 This is what shows up here if you aren't overlaying a different layout
		block content
		block scripts