doctype html
html(class="ng-app")
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="/bower_components/angularjs/angular.js")
		script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
	body(ng-app="rpgApp")
		block content
		block scripts