.color-guide
	float left
	list-style-type none
	li
		float left
		margin-left 15px
		width 15px
		height 15px

#yellow1
	background yellow1
#yellow2
	background yellow2
#yellow3
	background yellow3
#yellow4
	background yellow4
#yellow5
	background yellow5

#red1
	background red1
#red2
	background red2
#red3
	background red3
#red4
	background red4
#red5
	background red5

#green1
	background green1
#green2
	background green2
#green3
	background green3
#green4
	background green4
#green5
	background green5