global-reset()
@import 'variables'
@import 'color-guide'
@import 'scaffold'
font-size-base = 18px

html, body
	background-color black
	color white

// Font styling
h1, .h1
	font-size floor(font-size-base * 2.60)
	font-weight bold // ~36px
h2, .h2
	font-size floor(font-size-base * 2.15)
	font-weight bold // ~30px
h3, .h3
	font-size ceil(font-size-base * 1.70)
	font-weight bold  // ~24px
h4, .h4
	font-size ceil(font-size-base * 1.25)
	font-weight bold // ~18px
h5, .h5
	font-size font-size-base
	font-weight bold
h6, .h6 
	font-size ceil(font-size-base * 0.85)
	font-weight bold // ~12px
p, .p
	font-size ceil(font-size-base * 0.85)